<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
							http://www.springframework.org/schema/beans/spring-beans.xsd
							http://www.springframework.org/schema/tx 
							http://www.springframework.org/schema/tx/spring-tx.xsd
							http://www.springframework.org/schema/aop 
							http://www.springframework.org/schema/aop/spring-aop.xsd
							http://www.springframework.org/schema/context 
							http://www.springframework.org/schema/context/spring-context.xsd">
	<bean id="staffDao" class="com.td.staff.dao.impl.StaffDaoImpl" ><!-- 配置dao实现类 -->
		<property name="sessionFactory" ref="sessionFactory" ></property><!-- 注入 -->
	</bean>
	<bean  id="staffService" class="com.td.staff.service.impl.StaffServiceImpl"><!-- 配置service实现类 -->
		<property name="daoImpl" ref="staffDao" ></property>
	</bean>
	


							
</beans>							
